In [1]:
## Import necessary libraries
import pandas as pd
import numpy as np

In [2]:
## Load the dataset
df = pd.read_csv('../Datasets/Retail Sales/raw/Customer_Profiles.csv')

In [3]:
## inspect dataset
# display(df.head())
print(df.info())
# print(df.describe())

<class 'pandas.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  200 non-null    int64
 1   first_name   200 non-null    str
 2   last_name    200 non-null    str
 3   full_name    200 non-null    str
 4   gender       176 non-null    str
 5   age          174 non-null    float64
 6   email        167 non-null    str
 7   signup_date  200 non-null    str
dtypes: float64(1), int64(1), str(6)
memory usage: 12.6 KB
None

In [4]:
## Count missing values in each column
print(df.isnull().sum())

customer_id     0
first_name      0
last_name       0
full_name       0
gender         24
age            26
email          33
signup_date     0
dtype: int64

In [5]:
## Check for duplicate entries
print(df.duplicated().sum())

0

In [6]:
## Identify uniques values in 'gender' column
print(df['gender'].value_counts())

gender
female     31
Male       27
Female     27
Unknown    27
M          24
male       23
F          17
Name: count, dtype: int64

In [7]:
## Standardize gender values
gender_values = {'Male': 'M', 'male': 'M', 'Female': 'F', 'female': 'F', 'Unknown': '', np.nan: ''}
df['gender'] = df['gender'].replace(gender_values)

In [8]:
## Populate missing age values with the average age
df['age'] = df['age'].fillna(df['age'].mean()).astype(int)

In [9]:
## Parse/standardize signup_date column
df['signup_date'] = pd.to_datetime(df['signup_date'], format='mixed', errors='coerce').dt.strftime("%Y-%m-%d")

In [10]:
print(df[['first_name', 'last_name', 'full_name']].head(5))

  first_name last_name        full_name
0     Edward  THOMPSON  edward thompson
1     JOSEPH     Brown     joseph brown
2    anthony     Moope    Anthony Moore
3      John      Dasis       John Davis
4     Donna     Wilson     donna wilson

In [11]:
## Remove leading & trailing white spaces and capitalize first and last names
df['first_name'] = df['first_name'].str.strip().str.capitalize()
df['last_name'] = df['last_name'].str.strip().str.capitalize()

In [12]:
## Remove leading & trailing white spaces and capitalize full name
df['full_name'] = df['full_name'].str.strip().str.title()

In [13]:
print(df[df['full_name'].str.split(' ').str[0] != df['first_name']])

     customer_id   first_name  last_name          full_name gender  age  \
9            145       Robert     Taklor      Ronert Taylor          43
16           156      Anbhony    Sanchez    Anthony Sanchez      M   65
18           182      Deborah   Gonzales   Debovah Gonzales      F   47
27           167      Dorothj   Williams   Dorothy Williams      F   23
30           109        Briln    Sanchez      Brian Sanchez          21
48           243      Rebecca   Martinez   Rebeccapmartinez      F   47
49           186     Kimberly   Robinson  Kimqerly Robinson          40
51           273     Benjamin      Clark     Menjamin Clark      M   32
58           272       Sawdra      Clark       Sandra Clark      F   50
72           262      Melxssa  Rodriguez  Melissa Rodriguez      F   49
79           211       Stelen      Davis       Steven Davis      M   21
81           177       Steven    Ramirez     Stevenlramirez      M   64
83           287      Jessicv    Johnson    Jessica Johnson          54
88           290     Jonathan      Lopez     Jonothan Lopez          41
118          263  Chmistopher      Smith  Christopher Smith      M   75
119          128      Agthony      Dhvis      Anthony Dabis      M   60
120          140       Amanda    Johnson     Amanka Johnson          18
133          254      Garbara    Jackson    Barbara Jackson      F   75
139          233        Scott      Davis        Scort Davis      M   49
155          159        Cetty      Lozez        Betty Lopez      F   21
167          150         Pakl    Johnson       Paul Johnson      M   68
184          251     Benjamin   Nnderson  Benqamin Anderson          26
187          216      Michaew     Taylor     Michael Taylor      M   29
193          288      Charlfs      Clark      Charles Clark          73
194          171        Emily      Jones        Eqily Jones      F   47
195          206       Robert   Robinson    Robertfrobinson      M   44

                             email signup_date
9        robert.taylor@outlook.com  2024-01-26
16     anthony.sanchez@hotmail.com  2018-06-27
18                             NaN  2022-02-12
27   dorothy.williams@outlook.com   2024-05-30
30           briansanchez@gmailcom  2020-02-24
48      rebecca.martinez@gmail.com  2024-05-17
49   kimberly.robinson@hotmail.com  2019-05-28
51      benjamin.clark@hotmail.com  2018-02-06
58          sandra.clark@gmail.com  2023-04-28
72   melissa.rodriguez@outlook.com  2020-12-07
79          steven.davis@gmail.com  2024-08-04
81                             NaN  2024-07-11
83     jessica.johnson@hotmail.com  2020-10-15
88                             NaN  2020-06-27
118  christopher.smith@outlook.com  2022-11-14
119      anthony.davis@outlook.com  2019-04-15
120       amandajohnson@outlookcom  2022-12-16
133        barbarajackson@gmailcom  2022-06-06
139                            NaN  2019-04-13
155        betty.lopez@hotmail.com  2022-09-29
167       paul.johnson@hotmail.com  2021-04-23
184  benjamin.anderson@hotmail.com  2023-01-29
187                            NaN  2019-02-09
193      charles.clark@hotmail.com  2022-03-31
194          emily.jones@yahoo.com  2019-11-10
195    robert.robinson@outlook.com  2024-01-18

In [14]:
## Correct misspelled first names
first_name_cleanup = {'Anbhony': 'Anthony', 'Agthony': 'Anthony', 'Dorothj': 'Dorothy', 'Briln': 'Brian', 'Sawdra': 'Sandra', 'Melxssa': 'Melissa', 'Stelen': 'Steven', 'Charlfs': 'Charles',
                       'Jessicv': 'Jessica', 'Chmistopher': 'Christopher', 'Garbara': 'Barbara', 'Cetty': 'Betty', 'Pakl': 'Paul', 'Michaew': 'Michael'}
df['first_name'] = df['first_name'].replace(first_name_cleanup)

In [15]:
print(df[df['full_name'].str.split(' ').str[1] != df['last_name']])

     customer_id first_name  last_name          full_name gender  age  \
2            130    Anthony      Moope      Anthony Moore      M   41
3            258       John      Dasis         John Davis      M   54
9            145     Robert     Taklor      Ronert Taylor          43
19           168      James   Anberson     James Anderson      M   46
21           116    Michael      Write      Michael White      M   47
22           248       John   Robinson      John Robinsow      M   64
23           193   Kimberly    Johnson   Kimberly Jzhnson          38
33           175      Kevin   Taompson     Kevin Thompson      M   71
34           250    William      Mooxe      William Moore      M   24
35           204    Shirley   Andsrson   Shirley Anderson      F   28
40           179    Timothy    Johnskn    Timothy Johnson          69
44           222     Daniel      Lopez       Daniel Lozez      M   23
48           243    Rebecca   Martinez   Rebeccapmartinez      F   47
54           217   Margaret    Sanchez   Margaret Sanohez      F   72
64           135    William      Czark      William Clark          37
77           239     Donald   Thompion    Donald Thompson          47
81           177     Steven    Ramirez     Stevenlramirez      M   64
85           185      Jacob      Lewis        Jacob Wewis      M   22
87           136      Jacob    Jackson      Jacob Jacksdn          47
89           161    Michael     Gsrcia     Michael Garcia      M   22
90           122    Matthew      Pvrez      Matthew Perez          69
99           220      Laura      Davis        Laura Davys      F   58
119          128    Anthony      Dhvis      Anthony Dabis      M   60
131          147    Richard     Taytor     Richard Taylor      M   49
134          143    Dorothy  Rodriguez  Dorothy Rsdriguez      F   48
141          278     Steven     Teylor      Steven Taylor          39
143          149       Eric   Gonzales      Eric Gonzayes      M   75
155          159      Betty      Lozez        Betty Lopez      F   21
161          234       Emma      Clark         Emma Clrrk      F   33
166          207      Jason   Gonzoles     Jason Gonzales      M   52
175          292    Cynthia   Rnderson   Cynthia Anderson      F   71
184          251   Benjamin   Nnderson  Benqamin Anderson          26
189          174     Joshua   Willihms    Joshua Williams      M   23
191          299  Elizabeth    Sancfez  Elizabeth Sanchez      F   52
195          206     Robert   Robinson    Robertfrobinson      M   44
197          192   Jennifer   Gonzaley  Jennifer Gonzales      F   70

                             email signup_date
2          anthony.moore@yahoo.com  2024-01-14
3          john.davis@outlook.com   2024-09-30
9        robert.taylor@outlook.com  2024-01-26
19        james.anderson@yahoo.com  2024-09-14
21          michael.whiteyahoo.com  2018-06-13
22       john.robinson@hotmail.com  2023-10-14
23    kimberly.johnson@outlook.com  2023-09-19
33     kevin.thompson@outlook.com   2022-09-16
34        william.mooreoutlook.com  2019-01-17
35      shirley.anderson@gmail.com  2022-12-30
40     timothy.johnson@outlook.com  2023-07-31
44          daniel.lopez@yahoo.com  2021-05-18
48      rebecca.martinez@gmail.com  2024-05-17
54       margaretsanchez@gmailcom   2018-08-02
64       william.clark@outlook.com  2023-01-20
77         donaldthompson@yahoocom  2022-10-25
81                             NaN  2024-07-11
85           jacob.lewis@gmail.com  2024-03-08
87         jacob.jackson@gmail.com  2018-05-14
89          michaelgarcia@gmailcom  2019-10-07
90                             NaN  2020-09-29
99         laura.davis@outlook.com  2024-07-27
119      anthony.davis@outlook.com  2019-04-15
131                            NaN  2023-03-04
134  dorothy.rodriguez@outlook.com  2024-05-31
141     steven.taylor@outlook.com   2021-09-24
143      eric.gonzales@hotmail.com  2019-07-15
155        betty.lopez@hotmail.com  2022-09-29
161         emma.clark@outlook.com  2019-04-26
166       jason.gonzales@yahoo.com  2019-04-08
175     cynthia.anderson@yahoo.com  2024-09-25
184  benjamin.anderson@hotmail.com  2023-01-29
189                            NaN  2019-02-10
191    elizabeth.sanchez@yahoo.com  2024-12-07
195    robert.robinson@outlook.com  2024-01-18
197     jennifer.gonzalesgmail.com  2024-04-03

In [16]:
## Correct misspelled last names
last_name_cleanup = {'Dasis': 'Davis', 'Moope': 'Moore', 'Taklor': 'Taylor', 'Anberson': 'Anderson', 'Write': 'White', 'Taompson': 'Thompson', 'Mooxe': 'Moore', 'Andsrson': 'Anderson',
                       'Johnskn': 'Johnson', 'Czark': 'Clark', 'Thompion': 'Thompson', 'Gsrcia': 'Garcia', 'Pvrez': 'Perez', 'Taytor': 'Taylor', 'Teylor': 'Taylor', 'Gonzoles': 'Gonzales',
                       'Rnderson': 'Anderson', 'Nnderson': 'Anderson', 'Willihms': 'Williams', 'Sancfez': 'Sanchez', 'Gonzaley': 'Gonzales', 'Dhvis': 'Davis', 'Lozez': 'Lopez'}
df['last_name'] = df['last_name'].replace(last_name_cleanup)

In [17]:
## Check for any discrepancies between first_name + last_name and full_name
print(df[df['first_name'] + ' ' + df['last_name'] != df['full_name']])

     customer_id first_name  last_name          full_name gender  age  \
9            145     Robert     Taylor      Ronert Taylor          43
18           182    Deborah   Gonzales   Debovah Gonzales      F   47
22           248       John   Robinson      John Robinsow      M   64
23           193   Kimberly    Johnson   Kimberly Jzhnson          38
44           222     Daniel      Lopez       Daniel Lozez      M   23
48           243    Rebecca   Martinez   Rebeccapmartinez      F   47
49           186   Kimberly   Robinson  Kimqerly Robinson          40
51           273   Benjamin      Clark     Menjamin Clark      M   32
54           217   Margaret    Sanchez   Margaret Sanohez      F   72
81           177     Steven    Ramirez     Stevenlramirez      M   64
85           185      Jacob      Lewis        Jacob Wewis      M   22
87           136      Jacob    Jackson      Jacob Jacksdn          47
88           290   Jonathan      Lopez     Jonothan Lopez          41
99           220      Laura      Davis        Laura Davys      F   58
119          128    Anthony      Davis      Anthony Dabis      M   60
120          140     Amanda    Johnson     Amanka Johnson          18
134          143    Dorothy  Rodriguez  Dorothy Rsdriguez      F   48
139          233      Scott      Davis        Scort Davis      M   49
143          149       Eric   Gonzales      Eric Gonzayes      M   75
161          234       Emma      Clark         Emma Clrrk      F   33
184          251   Benjamin   Anderson  Benqamin Anderson          26
194          171      Emily      Jones        Eqily Jones      F   47
195          206     Robert   Robinson    Robertfrobinson      M   44

                             email signup_date
9        robert.taylor@outlook.com  2024-01-26
18                             NaN  2022-02-12
22       john.robinson@hotmail.com  2023-10-14
23    kimberly.johnson@outlook.com  2023-09-19
44          daniel.lopez@yahoo.com  2021-05-18
48      rebecca.martinez@gmail.com  2024-05-17
49   kimberly.robinson@hotmail.com  2019-05-28
51      benjamin.clark@hotmail.com  2018-02-06
54       margaretsanchez@gmailcom   2018-08-02
81                             NaN  2024-07-11
85           jacob.lewis@gmail.com  2024-03-08
87         jacob.jackson@gmail.com  2018-05-14
88                             NaN  2020-06-27
99         laura.davis@outlook.com  2024-07-27
119      anthony.davis@outlook.com  2019-04-15
120       amandajohnson@outlookcom  2022-12-16
134  dorothy.rodriguez@outlook.com  2024-05-31
139                            NaN  2019-04-13
143      eric.gonzales@hotmail.com  2019-07-15
161         emma.clark@outlook.com  2019-04-26
184  benjamin.anderson@hotmail.com  2023-01-29
194          emily.jones@yahoo.com  2019-11-10
195    robert.robinson@outlook.com  2024-01-18

In [18]:
## Correct all identified discrepancies between first_name + last_name and full_name
df['full_name'] = df['full_name'].mask((df['first_name'] + ' ' + df['last_name'] != df['full_name']), (df['first_name'] + ' ' + df['last_name']))

In [19]:
df['email'] = df['email'].str.strip()

In [20]:
df['email'] = df['email'].str.replace(r'^([^@]+)(gmail|yahoo|outlook|hotmail)\.com$', r'\1@\2.com', regex=True)

In [21]:
df[['eml_pt1','eml_pt2']] = df['email'].str.split('@', expand=True)

In [22]:
print(df[['email', 'eml_pt1', 'eml_pt2']].head(10))

                         email            eml_pt1      eml_pt2
0    edward.thompson@gmail.com    edward.thompson    gmail.com
1     joseph.brown@outlook.com       joseph.brown  outlook.com
2      anthony.moore@yahoo.com      anthony.moore    yahoo.com
3       john.davis@outlook.com         john.davis  outlook.com
4     donna.wilson@outlook.com       donna.wilson  outlook.com
5       lindaharris@hotmailcom        lindaharris   hotmailcom
6                          NaN                NaN          NaN
7  robert.gonzales@hotmail.com    robert.gonzales  hotmail.com
8  william.rodriguez@yahoo.com  william.rodriguez    yahoo.com
9    robert.taylor@outlook.com      robert.taylor  outlook.com

In [23]:
print(df['eml_pt2'].value_counts())

eml_pt2
outlook.com    44
hotmail.com    38
yahoo.com      35
gmail.com      33
outlookcom      6
gmailcom        5
yahoocom        5
hotmailcom      1
Name: count, dtype: int64

In [24]:
## Correct invalid provider domains for email addresses
email_domain_corrections = {'hotmailcom': 'hotmail.com', 'gmailcom': 'gmail.com', 'outlookcom': 'outlook.com', 'yahoocom': 'yahoo.com'}
df['eml_pt2'] = df['eml_pt2'].replace(email_domain_corrections, regex=True)

In [25]:
display(df[(df['first_name'] + '.' + df['last_name']).str.lower() != df['eml_pt1'].str.strip()])

,customer_id,first_name,last_name,full_name,gender,age,email,signup_date,eml_pt1,eml_pt2
5,215,Linda,Harris,Linda Harris,F,47,lindaharris@hotmailcom,2023-06-22,lindaharris,hotmail.com
6,169,Amanda,Brown,Amanda Brown,F,73,NaN,2019-08-03,NaN,NaN
13,178,Nancy,Clark,Nancy Clark,F,47,nancyclark@outlookcom,2021-07-16,nancyclark,outlook.com
18,182,Deborah,Gonzales,Deborah Gonzales,F,47,NaN,2022-02-12,NaN,NaN
30,109,Brian,Sanchez,Brian Sanchez,,21,briansanchez@gmailcom,2020-02-24,briansanchez,gmail.com
31,118,Stephanie,Ramirez,Stephanie Ramirez,F,73,NaN,2020-03-02,NaN,NaN
45,295,Ronald,Brown,Ronald Brown,M,36,NaN,2018-09-12,NaN,NaN
46,129,Charles,Jackson,Charles Jackson,M,71,NaN,2021-05-20,NaN,NaN
54,217,Margaret,Sanchez,Margaret Sanchez,F,72,margaretsanchez@gmailcom,2018-08-02,margaretsanchez,gmail.com
55,173,Samantha,Jones,Samantha Jones,F,72,NaN,2018-10-12,NaN,NaN
56,240,Andrew,Jones,Andrew Jones,,73,NaN,2018-10-18,NaN,NaN
63,112,Kimberly,Robinson,Kimberly Robinson,,47,NaN,2020-08-21,NaN,NaN
65,219,James,Martinez,James Martinez,,42,NaN,2018-11-18,NaN,NaN
66,142,Andrew,Clark,Andrew Clark,M,50,NaN,2018-10-13,NaN,NaN
68,190,Daniel,Robinson,Daniel Robinson,M,74,NaN,2022-05-30,NaN,NaN
77,239,Donald,Thompson,Donald Thompson,,47,donaldthompson@yahoocom,2022-10-25,donaldthompson,yahoo.com
81,177,Steven,Ramirez,Steven Ramirez,M,64,NaN,2024-07-11,NaN,NaN
82,146,William,White,William White,M,62,NaN,2021-08-21,NaN,NaN
88,290,Jonathan,Lopez,Jonathan Lopez,,41,NaN,2020-06-27,NaN,NaN
89,161,Michael,Garcia,Michael Garcia,M,22,michaelgarcia@gmailcom,2019-10-07,michaelgarcia,gmail.com
90,122,Matthew,Perez,Matthew Perez,,69,NaN,2020-09-29,NaN,NaN
97,106,Michelle,Clark,Michelle Clark,F,51,michelleclark@outlookcom,2021-06-13,michelleclark,outlook.com
104,209,Nicole,Martin,Nicole Martin,F,44,NaN,2024-08-20,NaN,NaN
105,244,Andrew,Smith,Andrew Smith,,63,andrewsmith@outlookcom,2021-06-23,andrewsmith,outlook.com
110,266,Andrew,Harris,Andrew Harris,M,55,NaN,2022-05-05,NaN,NaN
111,100,Patricia,White,Patricia White,F,55,NaN,2020-06-14,NaN,NaN
112,298,Stephanie,Johnson,Stephanie Johnson,F,47,stephaniejohnson@yahoocom,2024-11-26,stephaniejohnson,yahoo.com
113,253,Daniel,Thompson,Daniel Thompson,M,120,danielthompson@yahoocom,2018-10-09,danielthompson,yahoo.com
115,223,George,Wilson,George Wilson,,57,NaN,2021-06-01,NaN,NaN
117,144,Daniel,White,Daniel White,M,27,NaN,2023-08-20,NaN,NaN
120,140,Amanda,Johnson,Amanda Johnson,,18,amandajohnson@outlookcom,2022-12-16,amandajohnson,outlook.com
122,255,Anthony,Miller,Anthony Miller,M,59,anthonymiller@outlookcom,2023-11-24,anthonymiller,outlook.com
123,256,Steven,Sanchez,Steven Sanchez,M,42,NaN,2024-11-09,NaN,NaN
128,181,George,Lee,George Lee,,61,NaN,2024-10-24,NaN,NaN
131,147,Richard,Taylor,Richard Taylor,M,49,NaN,2023-03-04,NaN,NaN
133,254,Barbara,Jackson,Barbara Jackson,F,75,barbarajackson@gmailcom,2022-06-06,barbarajackson,gmail.com
135,238,Angela,Rodriguez,Angela Rodriguez,F,39,angelarodriguez@gmailcom,2019-10-10,angelarodriguez,gmail.com
137,205,Deborah,Johnson,Deborah Johnson,,65,NaN,2022-10-02,NaN,NaN
139,233,Scott,Davis,Scott Davis,M,49,NaN,2019-04-13,NaN,NaN
148,191,Linda,Johnson,Linda Johnson,F,47,NaN,2019-07-03,NaN,NaN
152,189,Melissa,Gonzales,Melissa Gonzales,F,46,NaN,2021-04-03,NaN,NaN
153,108,Margaret,Anderson,Margaret Anderson,,18,margaretanderson@yahoocom,2021-02-14,margaretanderson,yahoo.com
163,283,Donna,Brown,Donna Brown,F,30,donnabrown@yahoocom,2021-09-16,donnabrown,yahoo.com
165,154,Susan,Perez,Susan Perez,F,72,NaN,2020-05-18,NaN,NaN
171,188,Kathleen,Lee,Kathleen Lee,,69,kathleenlee@outlookcom,2020-04-15,kathleenlee,outlook.com
173,157,James,Thomas,James Thomas,M,47,NaN,2024-10-27,NaN,NaN
187,216,Michael,Taylor,Michael Taylor,M,29,NaN,2019-02-09,NaN,NaN
188,187,Jeffrey,Jackson,Jeffrey Jackson,M,20,NaN,2018-07-06,NaN,NaN
189,174,Joshua,Williams,Joshua Williams,M,23,NaN,2019-02-10,NaN,NaN
199,202,Matthew,Martinez,Matthew Martinez,M,47,NaN,2021-10-06,NaN,NaN

In [26]:
## Correct email addresses for any incorrect/mismatched first_name.last_name format. 
df['email'] = df['email'].mask(((df['first_name'] + '.' + df['last_name']).str.lower() != df['eml_pt1'].str.strip()), ((df['first_name'] + '.' + df['last_name']).str.lower() + '@' + df['eml_pt2']))
df['email'] = df['email'].fillna('')

In [27]:
## Drop temporary/unnecessary columns used for email verification/correction
df.drop(columns=['eml_pt1', 'eml_pt2'], inplace=True)

In [29]:
## Creat CSV file with clean dataset
df.to_csv('../Datasets/Retail Sales/cleaned/Customer_Profiles_Cleaned.csv', index=False)